:root{
    --primary: crimson;
    --dark: #1F2937;
    --darkdark: #111827;
    --light: #F3F4F6;
}

header{
    background-color: var(--darkdark);
    height: 10vh;
    text-align: center;
    padding: 9px;
    box-shadow: 5px 6px 5px var(--primary);
    user-select: none;
}

header h1{
    font-size: 45px;
    color: #FFF;
    font-size: 62px;
    text-transform: uppercase;
    text-shadow: -4px 1px var(--primary);
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: var(--dark);
    color: var(--light);
}

.watch{
    text-align: center;
    background-color: var(--darkdark);
    width: 100%;
    max-width: 360px;
    margin: 4rem auto;
    border-radius: 1rem;
    margin-top: 145px;
    box-shadow: 2px 5px 40px 15px rgb(141, 13, 38);
}

.time{
    padding-top: 35px;
    padding-bottom: 5px;
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    user-select: none;
}

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}


.controls button{
    appearance: none;
    background: none;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;

    color: var(--light);
    font-size: 1.125rem;
    background-color: var(--primary);
    margin: 0 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem; 
    transition: 0.4s;
    border-radius: 0.5rem;
}

button:hover{
    opacity: 0.7;
}

button:active{
    background-color: var(--darkdark);
}
