:root{
    --primary: #D81E5B;
    --secondary: #8A4FFF;
    --grey: #AAA;
    --light: #EEE;
    --dark: #131A26;
}

*{
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: var(--light);
    /* background: linear-gradient(var(--light),var(--dark)); */
}

main{
    padding: 3rem 2rem;
    max-width: 640px;
    margin: 0 auto;
    /* background: linear-gradient(var(--light),var(--dark)); */
}

h1{
    color: var(--dark);
    font-size: 4rem;
    text-transform: uppercase;
    text-shadow: -4px 1px rgb(235, 36, 208);
    margin-bottom: 1rem;
    
}

p{
    color: var(--grey);
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 2rem;
}

.counter{
    background-color: var(--dark);
    box-shadow: 1px 5px 45px var(--primary);
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}

.counter-value{
    font-size: 8rem;
    font-weight: 700;
    text-align: center;
}

.counter-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -0.5rem;
}

.counter-controls button{
    margin: 0 0.5rem;
}

.counter-controls button:hover{
    opacity: 0.5;
}

button{
    appearance: none;
    background: none;
    border: none;
    outline: none;

    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;

    transition: 0.4s ease-out;
}

button span{
    display: block;
    transition: 0.4s ease-out;
}

button[data-action="reset"]{
    color: #FFF;
    opacity: 0.5;
}

button[data-action="reset"]:hover{
    opacity: 1;
}

.save{
    margin-top: 2rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.save button{
    color: var(--dark)
}

button:active{
    transform: scale(1.1);
}